# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production build
dist/

# TypeScript build info
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log

/src/generated/prisma
